# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de MongoDB
MONGODB_URI=mongodb://localhost:27017/blog_interactivo

# Configuración de CORS (opcional)
CORS_ORIGIN=http://localhost:3001

# Configuración adicional
API_VERSION=v1

